.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: flex-end;
  }
  .header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    align-items: right;
    float:right ;
  }
  .header a:hover {
    background-color: #92a2bf;;
    text-decoration: underline;
  }