.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.grid {
  font-size: clamp(3rem, 4vw, 8rem);
  display: block;
  text-decoration: none;
  
  margin-left: clamp(4rem, 5vw, 8rem);
  transition: opacity 400ms ease;
}
.card:hover {
  font-size: 110%;
  transition: 300ms;
  text-decoration: underline;
}
.grid:hover .card:not(:hover) {
  opacity: 0.3;
  transition: 300ms;
}

.background{
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(2255,255,255,0.1) 9%,transparent 9%);
  background-size: 11vmin 11vmin;
  position : absolute;
  left : 0;
  top : 0;
  z-index: -1;
  transition: 500ms;
  --index: 0;
  background-position-y: calc(10% * var(--index));
}

.image {
  height: 100%;
  width: 100%;
  background-image: url("../../public/image1.jpg");

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  transition: 500ms;
  opacity: 0.20;

  --index: 0;

  background-size: 110vmax;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-position-y: calc(40% + 10% * var(--index));
}





