.container {
  text-align: center;
  padding-top: 1vh;
  padding-left: 40vh;
  padding-right: 40vh;
  min-height: 100vh;

  position: relative;
  overflow: hidden;
}
.title {
  font-size: 2rem;
  margin: 0;
  text-decoration:   underline ;
}
.details {
  border-radius: .25rem;
  padding: 2rem;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: #454b58;
  color: white;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  margin : 1vh;
  border-radius: 10px;
}
.submit {
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 1vh;
  margin : 1vh;
  background-color: #6d7688;
  color: white;
}
.submit:hover {
  background-color: #dadada;
  color: black;
}
.list {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border: 1px solid #dadada;
  border-radius: 10px;
  margin : 1vh;
}
.nameList:hover {
  transition: 800ms;
  color: red;
  text-decoration: underline;
}
.item {

  border-radius: 10px;
}
.item:hover {
  background-color: #454b58;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  transform : translateY(-40%);
  opacity: 0.2;
}
.hint {
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 1vh;
  margin : 5vh;
  background-color: #7c879d;
  color: black;
}